h1 {
    font-size: 16px;
    text-align:center;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 13px;
    text-align:center;
}


.THIS .slds-button_icon-bare{
    display: none;
}

div {
    overflow: hidden;
}

.zoom-in{
    zoom: 110%;
}